<nav>
  <h1 class="mx-auto text-light">CRUD OPERATION</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>

    <li class="btn-success"><a href="/user/create">Add-User</a></li>
  </ul>
</nav>