<html lang="en">

<head>
  <%- include("./partials/bootstrap.ejs") %>
</head>

<body class="container mt-5 bg-dark text-light">

  <div class="mx-5 my-5">
    <h1>
      OOPS, page not found :( </br>
      Please search a valid page :)</h1>
  </div>

</body>

</html>