<html lang="en">
<%- include("./partials/head.ejs") %>


  <head>
    <%- include("./partials/bootstrap.ejs") %>
  </head>

  <body class="container mt-5 bg-dark text-light">
    <%- include("./partials/nav.ejs") %>

      <div class="about content ">
        <h2>About Us</h2>
        <p class="text-light">It is a crud operation page created using ejs,bootstrap,express,mongodb</p>
      </div>

      <%- include("./partials/footer.ejs") %>
  </body>

</html>